.techstack {
  background-color: var(--bg-color);
  color: var(--text-color);

  .techstack-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
    margin: 3rem 0;

    .category {
      flex: 1 1 34rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      img {
        width: 3rem;
      }

      .label {
        font-size: 1.5rem;
        font-weight: 500;
        width: max-content;
        color: var(--color-grey);
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 2rem;

    .icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      text-align: center;
      gap: 0.5rem;

      p {
        font-size: 1rem;
      }
    }
  }
}
