@media only screen and (max-width: 820px) {
  body .main-project {
    flex-direction: column-reverse;

    .project-details {
      width: 100%;
    }

    .image-carousel {
      width: 100%;

      .arrow {
        font-size: 2rem;
      }
    }
  }
}

.main-project {
  display: flex;
  margin: 6rem 0;
  gap: 3rem;

  .project-details {
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    width: 45%;

    h1 {
      font-size: 2.3rem;
    }

    .links {
      margin-top: 0.5rem;
      display: flex;
      gap: 1rem;
      font-size: 1.2rem;
    }

    .techstack {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-size: 1.4rem;
      background-color: var(--bg-color);
      color: var(--text-color);
    }

    p {
      color: var(--color-grey);
    }
  }

  hr {
    border: 1px solid var(--color-grey-light);
  }
}
